<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head-b.ejs")%>
<link rel="stylesheet" href="/css/mi-btn.css">
    <body>
        <%- include("../partials/header.ejs")%>
            <!-- contenedor -->
            <div class="container">

                <!-- fila -->
                <div class="row">

                    <!-- col -->
                    <div class="col-12">

                        <h1 class="my-5">
                            Todos los productos
                        </h1>
                    </div>
                   
                        <main>
                            <a href="/">Regresar a inicio</a>
                           
                        </main>
                        <%- include('../partials/footer') %>
                    </body>
                    </html>

                     