<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Todos los productos</title>
  
    </head>
    <body>
        <%- include('../partials/header') %>
        <main>
            <h3>TODOS LOS PRODUCTOS</h3>          
            
                </div>            
    </div>     
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
