<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs")%>

<body>

    <%- include("../partials/header.ejs") %>

    <h1>
        Carrito de compras
    </h1>

    main>
    <header class="header">
            <div class="search-bar">
                <form action="search">
                <input type="text" name="search" class="form-search" placeholder="Buscar productos">
                </form>
                <div><i class="fas fa-search"></i></div>
            </div>
            <ul class="right-navbar">
                <li><a href="#">Lista de deseos<i class="fas fa-heart"></i></a></li>
                <li><a href="/cart">Agregar al carro<i class="fas fa-shopping-basket" ></i></a></li>
            </ul>
        </nav>
        </div>    
        <!-- Formulario carrito -->
    <section>
        <div class="header-box">
            <img src="/images/.jpg" class="head-cart-image">
            <div class="product-cart"> Carrito de compras</div>
        </div>
    </section>

    <section class="section-product-cart">
        <div class= "all-products-cart">
            <article class="product-cart">
                <div>
                    <img src= "images\xxx.jpg" alt = "Santa Rita" class="product-img-cart">
                </div>
                <div class= "product-box-cart">
                    <h4 class="cart-description">Planta sin flores mediana</h4>
                    <h4 class="cart-description">$1550,00</h4>
                    <div class="cart-description">
                        <i class="fas fa-minus"></i>
                        <h4 class="quantity">2</h4>
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="total">
                        <h4 class="cart-description">Total</h4>
                        <h4 class="cart-description">$1100,00</h4>
                    </div>
                    <i class="fas fa-trash"></i>
                </div> 
            </article>

            <article class="product-cart">
                <div>
                    <img src= "images\nnnn.jpg" alt = "jjjk," class="product-img-carrito">
                </div>
                <div class= "cart-description">
                    <h4 class="cart-description">planta con espinas</h4>
                    <h4 class="cart-description">$55670,00</h4>
                    <div class="quantity-product">
                        <i class="fas fa-minus"></i>
                        <h4 class="cantidad">2</h4>
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="total">
                        <h4 class="cart-description">Total</h4>
                        <h4 class="cart-description">$1100,00</h4>
                    </div>
                    <i class="fas fa-trash"></i>
                </div> 
            </article>

            <article class="product-img-cart">
                <div>
                    <img src= "images\nnnn.jpg" alt = "ccc" class="product-img-carrito">
                </div>
                <div class= "cart-description">
                    <h4 class="cart-description">maceta pintada grande</h4>
                    <h4 class="cart-description">$580,00</h4>
                    <div class="product-quantity">
                        <i class="fas fa-minus"></i>
                        <h4 class="cantidad">2</h4>
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="total">
                        <h4 class="cart-description">Total</h4>
                        <h4 class="cart-description">$100,00</h4>
                    </div>
                    <i class="fas fa-trash"></i>
                </div> 
                <div> <h4 class="cart-description"> Has comprado " " Productos</h4>
                    <h4 class="cart-description">Total a pagar</h4>
                    <h4 class="cart-description">$3300,00</h4>
                </div>
                <!-- Formulario carrito -->

                  <!-- Finalizar compra -->
                <section class="resumen">
                    <div class="resumen-background">
                        <h1>Resumen</h1>
                        <div class="descuentos detalles-compra">
                            <p class="detalle-precio">Descuentos</p>
                            <p class="precio">$200,00</p>
                        </div>
                        <div class="detalles-compra">
                            <p class="detalle-precio">Subtotal</p>
                            <p class="precio">$11340,00</p>
                        </div>
                        <div class="detalles-compra">
                            <p class="detalle-precio">Costo del envío</p>
                            <p class="precio">$150,00</p>
                        </div>
                        <div class="total detalles-compra">
                            <p class="detalle-precio">Total</p>
                            <p class="precio">$11290,00</p>
                        </div>
                        
                </section>
                <div class="cart-button2">
                    <h4 class="cart-description">Compra finalizada</h4>
                </div>
                <div class="cart-button1">
                    <h4 class="cart-description">Pagar</h4>
                </div>
            <div class="pagar">
            </div>
              <!-- Finalizar compra -->
               <!-- pregunta-link -->
               <div>
                <p class="entrega">
                    ¿Querés que te enviemos tu pedido?
                    <a class="enlace" href="/users/registered">
                        Calcular el costo de envío
                    </a>
                </p>
            </div>
            <!-- pregunta-link -->
                

    <%- include("../partials/footer.ejs") %>
</body>

</html>

