<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs")%>

    <body>

        <%- include("../partials/header.ejs") %>
            <div class="container">
                <div class="row">
                    <div class="col-12 my-5">
                        <h1>Carrito de Compras</h1>
                    </div>
                </div>

                <div class="row my-5">
                    <div class="col-12 col-lg-4">

                        <div class="row">
                            <!-- Articulo -->
                            <div class="col-12 mt-3">
                                <h2>Nombre del producto</h2>
                            </div>

                            <div class="col-12 mt-1">
                                <p>
                                    Descripción:
                                    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit
                                </p>
                            </div>

                            <div class="col-12 mb-3">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="/img/aloe-vera.jpg" alt="producto" width="50%">
                                    </div>
                                    <div class="col-2">
                                        <button>-</button>
                                    </div>
                                    <div class="col-2">
                                        <button>+</button>
                                    </div>
                                    <div class="col-2">
                                        <button>
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                    <div class="col-3 text-center">
                                        <p>
                                            $1.500,00
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Articulo -->

                        </div>

                    </div>

                    <div class="col-12 col-lg-4">

                        <div class="row">
                            <!-- Articulo -->
                            <div class="col-12 mt-3">
                                <h2>Nombre del producto</h2>
                            </div>

                            <div class="col-12 mt-1">
                                <p>
                                    Descripción:
                                    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit
                                </p>
                            </div>

                            <div class="col-12 mb-3">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="/img/aloe-vera.jpg" alt="producto" width="50%">
                                    </div>
                                    <div class="col-2">
                                        <button>-</button>
                                    </div>
                                    <div class="col-2">
                                        <button>+</button>
                                    </div>
                                    <div class="col-2">
                                        <button>
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                    <div class="col-3 text-center">
                                        <p>
                                            $1.500,00
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Articulo -->

                        </div>

                    </div>

                    <div class="col-12 col-lg-4">

                        <div class="row">
                            <!-- Articulo -->
                            <div class="col-12 mt-3">
                                <h2>Nombre del producto</h2>
                            </div>

                            <div class="col-12 mt-1">
                                <p>
                                    Descripción:
                                    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit
                                </p>
                            </div>

                            <div class="col-12 mb-3">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="/img/aloe-vera.jpg" alt="producto" width="50%">
                                    </div>
                                    <div class="col-2">
                                        <button>-</button>
                                    </div>
                                    <div class="col-2">
                                        <button>+</button>
                                    </div>
                                    <div class="col-2">
                                        <button>
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                    <div class="col-3 text-center">
                                        <p>
                                            $1.500,00
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Articulo -->

                        </div>

                    </div>
                </div>

            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        Cantidad = 0
                    </div>
                    <div class="col-12">
                        Subtotal = $0.00
                    </div>
                    <div class="col-12">
                        <strong>
                            Total = $0.00
                        </strong>
                    </div>
                </div>
            </div>



            <%- include("../partials/footer.ejs") %>
    </body>


</html>