<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs")%>

<body>

    <%- include("../partials/header.ejs") %>

    <main>
    <header class="header">
            <div class="search-bar">
                <form action="search">
                <input type="text" name="search" class="form-search" placeholder="Buscar productos">
                </form>
                <div><i class="fas fa-search"></i></div>
                <a href="/">Regresar a inicio para seguir mirando</a>
            </div>
            <section>
                <div class="header-box">
                    <img src="/images/.jpg" class="head-cart-image">
                    <div class="product-cart"> Carrito de compras</div>
                </div>
            </section>
            <ul class="right-navbar">
                <li><a href="#">Lista de deseos<i class="fas fa-heart"></i></a></li>
                <li><a href="#">Vaciar el carrito<i class="fas fa-eraser"></i></a></li>
                <li><a href="#">Pedidos guardados<i class="fas fa-cart-arrow-down"></i></a></li>
            </ul>
        
            <div class="articulos">
                <article>
                    <img src="/images/producto1.png" alt="PlantaA">
                    <div class="contenedor-producto">
                        <div class="detalles-carrito">
                            <div class="descripcion-producto">
                                <h2>Producto 1</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>

                            <div class="cantidad-producto">
                                <p class="boton-eliminar"><i class="fas fa-trash-alt"></i><a href="#">Eliminar</a></p>
                                <div class="precio-cantidad">
                                    <div class="botones-cantidad">
            
                                        <button class="minus">-</button>
                                        <input type="text" value="1" readonly="readonly">
                                        <button class="plus">+</button> </div>
                                    <p class="precio">$11320,00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/images/producto2.png" alt="Imagen Producto 2">
                    <div class="contenedor-producto">
                        <div class="detalles-carrito">
                            <div class="descripcion-producto">
                                <h2>Producto 2</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="cantidad-producto">
                                <p class="boton-eliminar"><i class="fas fa-trash-alt"></i><a href="#">Eliminar</a></p>   
                                <div class="precio-cantidad">
                                    <div class="botones-cantidad">
                                        <button class="minus">-</button>
                                        <input type="text" value="1" readonly="readonly">
                                        <button class="plus">+</button>
                                    </div>
                                    <p class="precio">$20,00</p>
                                </div>        
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
            <!-- Precio total -->
            <p class="total">Total: <span id="total"></span><i class="fas fa-dollar-sign"></i>;</p>
            <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>
        </aside>
        </nav>
        </div>    

                  <!-- Finalizar compra -->
                <section class="resumen">
                    <div class="resumen-background">
                        <h1>Resumen</h1>
                        <div class="descuentos detalles-compra">
                            <p class="detalle-precio">Descuentos</p>
                            <p class="precio">$200,00</p>
                        </div>
                        
                </section>
                <div class="boton-compraFinalizada">
                    <h4 class="cart-description">Compra finalizada</h4>
                </div>
                <div class="boton-pagar">
                    <h4 class="cart-description">Pagar</h4>
                </div>
            <div class="pagar">
            </div>
              <!-- Finalizar compra -->
               <!-- pregunta-link -->
               <div>
                <p class="entrega">
                    ¿Querés que te enviemos tu pedido?
                    <a class="enlace" href="/users/registered">
                        Calcular el costo de envío
                    </a>
                </p>
            </div>
            <!-- pregunta-link -->
           
    <%- include("../partials/footer.ejs") %>
</body>

</html>

