<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Conflor</title>
    <link rel="stylesheet" href="/css/products-pages.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <a href="/">Regresar a inicio</a>
        </section>
        <section class="products-container">
            <% products.forEach( product => { %>
                <%- include('../partials/product-card.ejs', {product: product}) %>
            <% }) %>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>