<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head.ejs")%>

    <body>
        <%- include("../partials/header.ejs")%>

            <main class="crear-producto">
                <h1 class="titulo">
                    Crear producto
                </h1>

                <form action="/products/create" method="POST">

                    <div class="elemento">
                        <label>Nombre</label>
                        <input type="text" name="productName">
                    </div>

                    <div class="elemento">
                        <label>Categoria</label>
                        <input type="text" name="productCategory">
                    </div>

                    <div class="elemento">
                        <label>Imagen</label>
                        <input type="file" name="productFile">
                    </div>

                    <div class="elemento">
                        <label>Precio</label>
                        <input type="text" name="productPrice">
                    </div>

                    <div class="elemento">
                        <label>Descripcion</label>
                        <input type="text" name="productDescription">
                    </div>

                    <div class="elemento centrado">
                        <button class="mi-btn" type="reset">Reset</button>
                    </div>

                    <div class="elemento centrado">
                        <button class="mi-btn" type="submit">Cargar</button>
                    </div>
                </form>

            </main>

            <%- include("../partials/footer.ejs")%>
    </body>



</html>