<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head.ejs")%>
<body>
    <%- include("../partials/header.ejs")%>
    <main>
        <div>
            <h2>Ingrese un producto nuevo</h2>
            <form action="/products/create" method="POST">

                <label>Nombre del producto</label>
                <input type="text" name ="productName">
                <br>
                <label>Descripcion del producto</label>
                <input type="text" name ="productDescription">
                <br>    
                <label>Imagen del producto</label>
                <input type="file" name ="productFile">
                <br>
                <label>Categoria</label>
                <input type="text" name ="productCategory">
                <br>
                <label>Talle del producto</label>
                <input type="text" name ="productSize">
                <br>
                <label>Precio del producto</label>
                <input type="text" name ="productPrice">
                <br>
                <button type="submit">Cargar</button>
                <button type="reset">Reset</button>
            
            </form>
        </div>
    </main>
    <%- include("../partials/footer.ejs")%>
</body>



</html>