<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head-b.ejs")%>

    <body>

        <%- include("../partials/header.ejs") %>

            <!-- Contenedor -->
            <div class="container">

                <div class="col-12 mt-5">
                    <h1 class="h2">
                        Detalle de producto
                    </h1>
                    <a href="/">Regresar a inicio</a>
                </div>

                <!-- Contenedor -->
            <div class="container">

                <div class="col-12 mt-5">
                    <h1 class="h2">
                        Detalle de producto
                    </h1>
                    <a href="/">Regresar a inicio</a>
                </div>