<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head.ejs")%>
<body>
    <%- include("../partials/header.ejs")%>
    <main>
        <h1>Nosotros</h1>
        <div class="about-us">
            <img src=" " alt="">
            <div class="text">
                <p>Los invitamos a recorrer nuestro jardín. El objetivo de Sexto Sol es ofrecer 
                    plantas que reflejan nuestro estilo de vida.</p>
                <p>Nuestras macetas están fabricadas con materiales sustentables y ofrecemos 
                    diseños personalizados.</p>    
                <p>Buscamos a través de nuestro sitio web que los clientes puedan encontrar 
                    y comprar las plantas contenidas en macetas soñadas
                    y proporcionar una interfaz amigable y segura en la cual se podrán adquirir
                     con confianza
                    nuestros productos.</p>
                    <p> Contamos con servicio de entrega en todo el país</p>
            </div>

    <!-- Contenedor -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <%- include("../partials/footer.ejs") %>
</body>

</html> 