<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Sexto Sol-Página de inicio</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">  
</head>

<body>
       
    <header class="header" >
        <img src="/images/Logotipo.png" width="150" alt="Logo de Sexto Sol"> 
       
        <p><div class="search-bar"> <input type="search" name="q" value="" 
            placeholder="Buscá aquí..." aria-label="Buscá aquí..."></div></p>
        
        
            <div class="headerPhone">
            <div>Comunicate con nosotros:&nbsp;|&nbsp;(5411)&nbsp;353-0009</div>
            <div class="headerTagline">
            <div>Encontranos en:&nbsp;(Calle sin número )&nbsp;Salta</div>
            <div style="float:left">VISITANOS PRONTO</div>
            <div style="float:right">EL MEJOR LUGAR PARA DECORAR TU JARDIN</div>  
              </div>
              <div style="clear:both"></div>
            </div>
        
        <h2>Plantas sin flores</h2>
        
<ul class="sin">
    <img src="/images/planta.jpg" width="100" alt="Plantas sin Flores"> 

  <li><a href="/Plantas">Fittonia verschaffeltii</a></li>
  <li><a href="/Plantas">Cycas revoluta</a></li>
  <li><a href="/Plantas">Diffenbachia Compacta</a></li>
</ul>
<h2>Plantas con flores</h2>
<ul class="con">
    <img src="/images/flor.jpg" width="100" alt="Plantas sin Flores"> 
  <li><a href="/Flores">Bromelia</a></li>
  <li>Caléndula</li>
  <li>Azalea</li>
  <li>Anturio</li>
</ul>     

  </div>
    </header>  
    <main>
        <div>
            <img src="/images/Logotipo.png" width="150" alt="Logo de Sexto Sol"> 
        </div>
        
        <section>
            <header>
                <h1>No te vayas, mirá todo lo que podemos ofrecerte</h1>
            </header>

            <div class="wrapper">
                <div class="slider" id="slider">
                  <ul class="slides">
                    <li class="slide" id="slide1">
                      <a href="#">
                        <p class="caption">Texto llamativo</p>
                        <img src="flor.jpg" alt="photo 1">
                      </a>
                    </li>
                    <li class="slide" id="slide2">
                      <a href="#">
                        <p class="caption">Texto llamativo</p>
                        <img src="flor.jpg" alt="photo 2">
                      </a>
                    </li>
                    <li class="slide" id="slide3">
                      <a href="#">
                        <p class="caption">Texto llamativo</p>
                        <img src="flor.jpg" alt="photo 3">
                      </a>
                    </li>
                    <li class="slide" id="slide4">
                      <a href="#">
                        <p class="caption">Texto llamativo</p>
                        <img src="flor.jpg" alt="photo 4">
                      </a>
                    </li>
                    <li class="slide" id="slide5">
                      <a href="#">
                         <p class="caption">Texto llamativo</p>
                         <img src="flor.jpg" alt="photo 5">
                      </a>
                    </li>
                    <li class="slide">
                      <a href="#">
                        <p class="caption">Texto llamativo</p>
                        <img src="flor.jpg" alt="photo 1">
                      </a>
                    </li>
                  </ul>
                  <ul class="slider-controler">
                    <li><a href="#slide1">&bullet;</a></li>
                    <li><a href="#slide2">&bullet;</a></li>
                    <li><a href="#slide3">&bullet;</a></li>
                    <li><a href="#slide4">&bullet;</a></li>
                    <li><a href="#slide5">&bullet;</a></li>
                  </ul>
                </div>
            </header>
        <section>
            <article>
                <img src="/images/img-Planta.jpg" alt="Los más vendidos">
                <div>
                    <p><i class="fas fa-truck"></i></p>
                    <p class="prices">$300</p>
                </div>                
                <p class="descripción">Verano 2021</p>
            </article>

            <article>
                <img src="/images/img-Flor.jpg" alt="Ofertas especiales">
                <div>
                    <p><i class="fas fa-truck"></i></p>
                    <p class="prices">$100</p>
                </div>                
                <p class="descripción">Llevando más de una planta</p>
            </article>
        </section>
    </main>   
</body>
</html>