<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Sexto Sol-Página de inicio</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">  
</head>

<body>
       
    <header class="header" >
        <img src="/images/Logotipo.png" width="360" alt="Logo de Sexto Sol"> 
        <p><div class="search-bar"></div></p>
        
            <ul>
                <li><a href="/Plantas">Planta</a></li>
                <li><a href="/Flores">Flor</a></li>
            </ul>     
    </header>
    
    <main>
        <div>
            <img class="banner" src="/images/img-Portada.jpg" alt="Sexto Sol">
        </div>
        
        <section>
            <header>
                <h2>No te vayas, mirá todo lo que podemos ofrecerte</h2>
            </header>
            
            <article>
                <img src="/images/img-Planta.jpg" alt="Planta con maceta">
                <div>
                    <p><i class="fas fa-truck"></i></p>
                    <p class="prices">$300</p>
                </div>                
                <p class="descripción">Planta con macetas</p>
            </article>

            <article>
                <img src="/images/img-Flor.jpg" alt="Flores rosas y violetas ">
                <div>
                    <p><i class="fas fa-truck"></i></p>
                    <p class="prices">$500</p>
                </div>                
                <p class="descripción">Flores coloridas</p>
            </article>

            </header>
            
        </section>
    </main>   
</body>
</html>