<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>
        Sexto Sol
    </title>

    <style>
        .barra {
            border: 2px solid black;
            padding: 0;
            margin: 0;
        }
       
    </style>
</head>

<body>
    <!--
        BARRA DE BUSQUEDA
    <div>
        <div class="barra">
            <form class="form-search" action="" method="GET">
                <input type="text" placeholder="Buscar productos, marcas y más...">
                <button class="submit" type>
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>

    < !-- header -->
    <header class="header">
        <h1><font color="green"><marquee>Bienvenidos a Sexto Sol</marquee></font></h1>
        <!-- logo -->
        <div class="logo">
            <a class="logo-link" href="https://sexto-sol.herokuapp.com/">
                <img src="/img/logo.png" width="150" alt="Logo de Sexto Sol">
            </a>
        </div>
        <!-- logo -->

        <!-- navegacion -->
        <nav>

            <ul>
                <!-- register -->
                <li>
                    <!-- <a href="http://localhost:3000/users/register"> -->
                    <a href="">
                        <a href="https://sexto-sol.herokuapp.com/users/register">
                            <i class="far fa-id-card"></i>Creá tu cuenta
                        </a>
                </li>
                <!-- register -->

                <!-- login -->
                <li>
                    <!--<a href="http://localhost:3000/users/login">-->
                    <a href="https://sexto-sol.herokuapp.com/users/login"> 
                        <i class="fas fa-sign-in-alt"></i>Ingresá
                    </a>
                </li>
                <!-- login -->

                <!-- cart -->
                <li>
                    <!--<a href="http://localhost:3000/products/cart">-->
                    <a href="https://sexto-sol.herokuapp.com/products/cart">
                        <i class="fas fa-shopping-basket"></i>Tus compras
                    </a>
                </li>
                <!-- cart -->

            </ul>
           
            <div>
                <p class="Quienes somos">
                    <li><a href="#">Quienes somos ▼</a></li>
                    <li><a href="#">Zonas de entrega ▼</a></li>
                </ul>
        </nav>
        <!-- navegacion -->
      
    </div>
    <p>
        <div class="barra"> <input type="search" name="q" value="Buscá aquí" placeholder="Buscá aquí..." aria-label="Buscá aquí..."></div>
    </p>

    </header>

    <!-- header -->
    
    <title>Formularios</title>

            <p class="imagen de Portada">
        </div>
        <div style="float:right"></div><marquee><h1><font color="brown">EL MEJOR LUGAR PARA DECORAR TU JARDIN</font></h1></marquee></div>
        </div>
        <div style="clear:both"></div>
    </form>

<!-- main -->

<!-- plantas sin flor -->
    <main>
        <section>
            <h2>Plantas sin flor</h2>
            <div class='products'>
                <article>
                    <img src='img/aloe-vera.jpg' width='360' alt='Aloe Vera'>
                    <div class='main-article'>
                        <i class='fas fa-truck'></i>
                        <div class='box-price'>
                            <p class='price'>$450</p>
                            <p class='discount'>20% off</p>
                        </div>
                        <h3 class='description'>Aloe Vera</h3>
                    </div>
                </article>
                <article>
                    <img src='/img/arbol-jade.jpg' width='360' alt='Arbol de Jade'>
                    <div class='main-article'>
                        <i class='fas fa-truck'></i>
                        <div class='box-price'>
                            <p class='price'>$750</p>
                            <p class='discount'>15% off</p>
                        </div>
                        <h3 class='description'>Arbol de Jade</h3>
                </article>
                <article>
                    <img src='/img/cola-de-tigre.jpg' width='360' alt='Cola de Tigre'>
                    <div class='main-article'>
                        <i class='fas fa-truck'></i>
                        <div class='box-price'>
                            <p class='price'>$700</p>
                            <p class='discount'>10% off</p>
                        </div>
                        <h3 class='description'>Cola de Tigre</h3>
                    </div>
                </article>
                <article>
                    <img src='/img/monstera-deliciosa.jpg' width='360' alt='Monstera Deliciosa'>
                    <div class='main-article'>
                        <i class='fas fa-truck'></i>
                        <div class='box-price'>
                            <p class='price'>$650</p>
                            <p class='discount'>5% off</p>
                        </div>
                        <h3 class='description'>Monstera Deliciosa</h3>
                    </div>
                </article>
            </div>
        </section>

<!-- plantas sin flor -->

<!-- plantas con flor -->

        <section>
            <h2>Plantas con flor</h2>      
            <div class='products'>
                <article>
                <img src='/img/begonia.jpg' width='360' alt='Begonia'>
                    <div class='main-article'>
                        <i class='fas fa-truck'></i>
                        <div class='box-price'>
                            <p class='price'>$300</p>
                            <p class='discount'>20% off</p>
                        </div>
                        <h3 class='description'>Begonia</h3>
                    </div>
                </article>
                <article>
                    <img src='/img/rosas-blancas.jpg' width='360' alt='Rosas Blancas'>
                        <div class='main-article'>
                            <i class='fas fa-truck'></i>
                            <div class='box-price'>
                                <p class='price'>$400</p>
                                <p class='discount'>15% off</p>
                            </div>
                            <h3 class='description'>Rosas Blancas</h3>
                        </div>
                </article>
                <article>
                    <img src='/img/rosas-rojas.jpg' width='360' alt='Rosas Rojas'>
                        <div class='main-article'>
                            <i class='fas fa-truck'></i>
                            <div class='box-price'>
                                <p class='price'>$450</p>
                                <p class='discount'>10% off</p>
                            </div>
                            <h3 class='description'>Rosas Rojas</h3>
                        </div>
                </article>
                <article>
                    <img src='/img/crisantemo-amarillo.jpg' width='360' alt='Crisantemo Amarillo'>
                        <div class='main-article'>
                            <i class='fas fa-truck'></i>
                            <div class='box-price'>
                                <p class='price'>$350</p>
                                <p class='discount'>5% off</p>
                            </div>
                            <h3 class='description'>Crisantemo Amarillo</h3>
                        </div>
                </article>
            </div>
        </section>

        <!-- plantas con flor -->

    </main>

    <!-- main -->

    <section>
        <marquee><h1>No te vayas, mirá todo lo que podemos ofrecerte</h1> </marquee>
    </section>
    <footer>
        <div class="mail">
            <h3>Escribinos:sextosol@gmail.com<i class="fas fa-envelope-square"></i></h3>
            <div class="teléfono">
                <div>
                   
                    <h3>Comunicate con nosotros:(5411)353-0009<i class="fas fa-phone"></i></h3>
                </div>
                <div class="dirección">
                    <div>
                        <h3>Encontranos en:(Calle sin número )Salta<i class="fas fa-warehouse"></i><h3>
                    </div>
                    <div style="float:left">
                        <marquee><h1>VISITANOS PRONTO<h1></marquee>
        <Seguinos>Nuestras redes: <br>Seguinos en<a href="https://www.instagram.com/"> Instagram</a> </h2>
        
        <h3>Éste sitio web usa cookies, si permanece aquí acepta su uso.</h3>
                    <div>
                        <h4>Puede leer más sobre el uso de cookies en nuestra 
                            <a href="politica.html">Política de privacidad</a>.</h4>
        </div>
    </footer>

</body>

</html>