<!----------login html clonmorfo 29/9, renovacion de login------->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/login.css">
    <title>
        logged
    </title>
</head>

<body class="background">

    <!-- header -->
    <header class="header">

        <!-- logo -->
        <img src="/img/logo.png" width="150" alt="Logo de Sexto Sol">
        <!-- logo -->

        <!-- navegacion -->
        <nav>

            <ul>
                <!-- register -->
                <li>
                    <!-- <a href="http://localhost:3000/register"> -->
                    <a href="">
                        <a href="https://sexto-sol.herokuapp.com/register">
                            <i class="far fa-id-card"></i>Creá tu cuenta
                        </a>
                </li>
                <!-- register -->

                <!-- login -->
                <li>
                    <a href="https://sexto-sol.herokuapp.com/login">
                        <i class="fas fa-sign-in-alt"></i>Ingresá
                    </a>
                </li>
                <!-- login -->

                <!-- cart -->
                <li>
                    <a href="https://sexto-sol.herokuapp.com/cart">
                        <i class="fas fa-shopping-basket"></i>Tus compras
                    </a>
                </li>
                <!-- cart -->

            </ul>

        </nav>
        <!-- navegacion -->

    </header>
    <!-- header -->

    <h1>
        Estas logueado/a
    </h1>
</body>

</html>