<!----------login html clonmorfo 29/9, renovacion de login------->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/login.css">
    <title>
        logged
    </title>
</head>

<body>

    <!-- header -->
    <header class="header">
        <nav>
            <ul>

                <!-- register -->
                <li>
                    <!-- <a href="http://localhost:3000/users/register"> -->
                    <a href="https://sexto-sol.herokuapp.com/users/register">
                        <i class="far fa-id-card"></i>Creá tu cuenta
                    </a>
                </li>
                <!-- register -->

                <!-- login -->
                <li>
                    <!--<a href="http://localhost:3000/users/login">-->
                    <a href="https://sexto-sol.herokuapp.com/users/login">
                        <i class="fas fa-sign-in-alt"></i>Ingresá
                    </a>
                </li>
                <!-- login -->

                <!-- cart -->
                <li>
                    <!--<a href="http://localhost:3000/products/cart">-->
                    <a href="https://sexto-sol.herokuapp.com/products/cart">
                        <i class="fas fa-shopping-basket"></i>Tus compras
                    </a>
                </li>
                <!-- cart -->

            </ul>
        </nav>
    </header>
    <!-- header -->

    <h1>
        Estas logueado/a
    </h1>
</body>

</html>