<!----------login html clonmorfo 29/9, renovacion de login------->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/login.css">
    <title>
        login
    </title>
</head>

<body>

    <!-- header -->
    <header class="header">
        <nav>
            <ul>

                <!-- register -->
                <li>
                    <!-- <a href="http://localhost:3000/users/register"> -->
                    <a href="https://sexto-sol.herokuapp.com/users/register">
                        <i class="far fa-id-card"></i>Creá tu cuenta
                    </a>
                </li>
                <!-- register -->

                <!-- login -->
                <li>
                    <!--<a href="http://localhost:3000/users/login">-->
                    <a href="https://sexto-sol.herokuapp.com/users/login">
                        <i class="fas fa-sign-in-alt"></i>Ingresá
                    </a>
                </li>
                <!-- login -->

                <!-- cart -->
                <li>
                    <!--<a href="http://localhost:3000/products/cart">-->
                    <a href="https://sexto-sol.herokuapp.com/products/cart">
                        <i class="fas fa-shopping-basket"></i>Tus compras
                    </a>
                </li>
                <!-- cart -->

            </ul>
        </nav>
    </header>
    <!-- header -->


    <main>
        <div class="login-box">
            <a href="/">
                <img class="logo-mobile" src="https://lh3.googleusercontent.com/CY5_VoafpO45S3BDEqCC-Lh2bkktkSqqmkJEfxnP9MXDO4n0K0gfZiiZIjU-dzio4ii902w=s85" alt="">
            </a>

            <div>
                <h1>Inicia sesión</h1>
            </div>
            <div>
                <form class="form-box" action="/login" method="POST">
                    <div>
                        <label for="username">Usuario</label>
                        <input type="text" placeholder="Ingresa tu usuario" required>
                    </div>

                    <div>
                        <label for="password">contraseña</label>
                        <input type="password" placeholder="Ingresa contraseña" required>
                    </div>

                    <div>
                        <input type="checkbox" value="recordame" name="recordarme" id="recordarme">
                        <label for="recordarme">Recordarme</label>
                    </div>

                    <div>
                        <input type="submit" value="Login">
                    </div>

                    <div>
                        <a href="#">¿Olvidaste tu contraseña?</a>
                        <a href="#">¿No tienes una cuenta?</a>
                    </div>

                </form>
            </div>
        </div>
    </main>
</body>

</html>