<!--Carrito de compra clon 30/9-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/cart.css">
    <title>Log in</title>
</head>
<body class="background">
    <header class="header-box">
        <a href="/"><img class ="logotipo"src="/images/Logotipo.png" alt=""> </a>
        <ul >
            <li>Tienda ▼</li>
            <li>Jardín ▼</li>
            <li>Cursos ▼</li>
        </ul>

        <ul >
            <li><i class="fas fa-user-circle">Usuario</i></li>
            <li><i class="fas fa-shopping-cart"></i></li>
            <li><i class="far fa-bell"></i></li>
        </ul>
    </header>

    <main>
        <div >
            <section class="cart-box">
                <h1>Verfica tu pedido.</h1>
                <article>
                    <p>decripcion </p>
                    <p>precio</p>
                    <p>cantidad</p>
                    <p>total</p>
                </article>

                <article>
                    <p>Rosa</p>
                    <p>$80</p>
                    <select name="select">
                        <option value="value1">1 unidad</option>
                        <option value="value2" selected>2 unidades</option>
                        <option value="value3">3 unidades</option>
                    </select>
                    <p>$960</p>
                    <i class="fas fa-trash"></i>
                </article>
                <form method="POST">
                    <input class="buy-btn" type="submit" value="Comprar"></input>
                </form>
                
            </section>
        </div>
    </main>
</body>
