<!----------login html clonmorfo 29/9, renovacion de login------->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/login.css">
    <title>
        registered
    </title>
</head>

<body>

    <!-- header -->
    <header class="header">
        <nav>
            <ul>
                <!-- index -->
                <li>
                    <!-- <a href="http://localhost:3000/"> -->
                    <a href="https://sexto-sol.herokuapp.com/">
                        Inicio
                    </a>
                </li>
                <!-- register -->
            </ul>
        </nav>
    </header>
    <!-- header -->

    <h1>
        Te registraste con éxito
    </h1>
</body>

</html>