<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/cart.css">
    <title>
        Registro
    </title>
</head>

<body>

    <!-- header -->
    <header class="header">
        <nav>
            <ul>
                <!-- index -->
                <li>
                    <!-- <a href="http://localhost:3000/"> -->
                    <a href="https://sexto-sol.herokuapp.com/">
                        Inicio
                    </a>
                </li>
                <!-- register -->
            </ul>
        </nav>
    </header>
    <!-- header -->

    <main>
        <div class="login-box">
            <a href="/">
                <img class="logotipo" src="https://lh3.googleusercontent.com/CY5_VoafpO45S3BDEqCC-Lh2bkktkSqqmkJEfxnP9MXDO4n0K0gfZiiZIjU-dzio4ii902w=s85" alt="">
            </a>
        </div>

        <div>
            <section class="register-box"> </section>

            <form action="/register" method="POST" enctype="multipart/form-data">

                <form action="resultado.html" method="POST">

                    <label for="pregunta">
                        <h2>¿Sos cliente?<h2>
                    </label>
                    <input type="radio" name="clientes" value="Sí">Si
                    <input type="radio" name="clientes" value="No">No

        </div>

        <div class="form-control">
            <label for="">Ya compraste?Envianos tu comprobante de pago</label>
            <input type="file" name="Comprobante de pago">
        </div>

        <div>
            <form>
                <label for="fname">Nombre y apellido</label>
                <input type="text" name="fullname">
                <label for="">Email</label>
                <input type="email" name="email">
                <label for="">Fecha de nacimiento</label>
                <input type="date" name="">
                <h4>Categorias de interes</h4>
                <input type="checkbox" name="regalos" value="regalos" id="regalos">
                <label for="electro">Regalos</label>

                <input type="checkbox" name="personalizados" value="personalizados" id="personalizados">
                <label for="moda">Plantas en macetas Personalizadas</label>

                <input type="checkbox" name="semillas" value="semillas" id="semillas">
                <label for="healthy">Semillas</label>
                <label for="">Contraseña</label>
                <input type="password" name="password">
                <label for="">Repetir Contraseña</label>
                <input type="password" name="repassword">
            </form>
        </div>

        <div>
            <button type="submit" class="enviar">Registrate</button>
            <button type="reset" class="borrar">Borrar</button>
        </div>

    </main>

</body>

</html>