/*carrito de compra clon 30/9*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1{
    font-size: 40px;
}
.background{
    background-image: url(https://cdn.pixabay.com/photo/2021/09/30/16/52/16-52-53-476_960_720.jpg );
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;    
}

.cart-box{
    width: 80vw;
    min-height: 475px;
    height: 70vh;
    background-color: rgba(250, 226, 226, 0.96);
    position: absolute;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%, -8%);
    padding: 70px 30px;
    padding-top: 10px;
    margin-top: 8%;
    max-width: 800px;
}
.cart-box article{
    border: 2px red dotted;
    display: flex;
    position: relative;
    
}
.index-cart >p{
    border: 2px red dotted;
    display: inline-block;
    padding: 0px 15px;
    font-size: 2em;
}

.buy-btn{
    display: block;
    border: none;
    position: absolute;
    bottom: 85px;
    right: 60px;
    width: 25%;
    outline: none;
    height: 10%;
    background-color: #FFC944;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
    
}
/*header*/
.header-box{
    
    margin: auto;
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.link-to-home, .logotipo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
ul , ol{
    list-style: none;
}
.nav > li {
    position: relative;
    display: inline-block;
}
.nav >li > a {
    display: block;
    padding: 15px 20px;
    color: #353535;
    text-decoration: none;
}
.nav li a:hover{
    background-color: grey;
    transition: all 0.3s;
}
.submenu{
    position: absolute;
    width: 120%;
    visibility: hidden;
    background-color: #333333;
    opacity: 0;
    transition: opacity 1s; 
    z-index: 5;
}
.submenu li a{
    display: block;
    padding: 15px;
    position: relative;
    color: white;
    text-decoration: none;
       
}
.nav li:hover .submenu{
    visibility: visible;
    opacity: 1;
}



#user >li{
    padding: 5px 15px;
}
/*header*/