/*carrito de compra clon 30/9*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}


/*header*/
.header-box{    
    margin: auto;
    width:90%;
    display:none;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;  
}
.link-to-home, .logotipo{
    width: 100px;
    height: 100px;
    border-radius: 50%;   
}
.logotipo{
    align-items:center;
    justify-content:center
}

ul , ol{
    list-style: none;
}
.nav > li {
    position: relative;
    display: inline-block;
}
.nav >li > a {
    display: block;
    padding: 15px 15px;
    color: #353535;
}
.nav li a:hover{
    background-color: grey;
    transition: all 0.3s;
}
.submenu{
    position: absolute;
    width: 120%;
    visibility: hidden;
    background-color: #333333;
    opacity: 0;
    transition: opacity 1s; 
    z-index: 5;
}
.submenu li a{
    display: block;
    padding: 15px;
    position: relative;
    color: white;
    
       
}
.nav li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
#user >li{
    padding: 5px 10px;
}
@media (min-width:851px){
    .header-box{
        display: flex;
      }  
}
/*header*/

/*cartbox*/

.background{
    background-image: url(https://cdn.pixabay.com/photo/2021/09/30/16/52/16-52-53-476_960_720.jpg );
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;    
}

.cart-box{
    position: relative;
    border: 2px black dotted;
    border-radius: 10px;
    width: 80vw;
    height: 60vh;
    background-color: rgba(176, 212, 90, 0.932);
    margin: 80px auto;
    padding: 0px 0px 0px 0px;
    
}
.cart-box .title{
    font-weight: 600;
    text-align: left;
    font-size: 24px;;
    padding: 10px 15px;
}
.cart-box img{
    width: 124px;
    height: 124px;
}
.cart-box article{
    border-top: 1px black solid;
    
    padding:10px 0px;
}

.cart-box .product-picture-detail{
    display: flex;
    align-items: flex-start;
}
.cart-box .product-detail > div{
    display: block;
    padding: 10px 5px;
}
.cart-box .product-action ul{
    padding: 15px 20px;    
}
.cart-box .product-action ul li{
    display: inline;    
}
.cart-button{
    display: flex;
}
.cart-button button{
    background-color: rgb(228, 49, 49);
    border-radius: 5px;
    font-size: 1.5em;
}
.cart-button button:hover{
    background-color: green;
}
.cart-button a{
    color:black;
}

/*cart box*/
