
/*header*/
body{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}


.header-box{    
    margin: auto;
    width:90%;
    display:none;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;  
}
.link-to-home, .logotipo{
    width: 100px;
    height: 100px;
    border-radius: 50%;   
}
.logotipo{
    align-items:center;
    justify-content:center
}

    .main-navbar{
        margin-left: 10px;
display:flex;
    }

    .right-navbar{
        padding-top: 30px;
display: inline-block;
    };

ul , ol{
    list-style: none;
}
.nav , li {
    position: relative;
   
   
}
.nav ,li , a {
    display:inline-block;
    padding: 15px 15px;
    color: #353535;
}
    
.submenu{
    position: absolute;
    width: 120%;
    visibility: hidden;
    background-color: #333333;
    opacity: 0;
  /*  transition: opacity 1s; 
    z-index: 5;*/
}
.submenu li a{
    display: block;
    padding: 15px;
    position: relative;
    color: white;
    text-decoration: none
       
}
.product-cart{
    margin-left: 30px;

}

.precio-cantidad{ font-weight: bold;

}


@media (min-width:851px){
    .header-box{
        display: flex;
      }  
}


/*cartbox*/

.cart-box{
    position: relative;
    border: 2px black dotted;
    border-radius: 10px;
    width: 80vw;
    height: 60vh;
    background-color: rgba(176, 212, 90, 0.932);
    margin: 80px auto;
    padding: 0px 0px 0px 0px;
    
}
.cart-box .title{
    font-weight: 600;
    text-align: left;
    font-size: 24px;;
    padding: 10px 15px;
}
.cart-box img{
    width: 124px;
    height: 124px;
}
.cart-box article{
    border-top: 1px black solid;
    
    padding:10px 0px;
}

.cart-box .product-picture-detail{
    display: flex;
    align-items: flex-start;
}
.cart-box .product-detail > div{
    display: block;
    padding: 10px 5px;
}
.cart-box .product-action ul{
    padding: 15px 20px;    
}
.cart-box .product-action ul li{
    display: inline;    
}

.resumen {
    justify-content: center;
    width: 40vw;
    margin: 25px;
    padding: 20px;
  }
  
/*botones*/
.cart-button{
    display: flex;
    background-color: rgb(228, 49, 49);
    border-radius: 5px;
    font-size: 1.5em;
}

.resumen button {
    margin: 10px;
    width: 100%;
  }
.cart-button1 {
    display:inline-block;
    background-color: #f49f46;
    color: white;
    border-radius: 45px;
    font-family: "Roboto";
    height: 2.5rem;
    width: auto;
    padding: 2% 10%;
    border: none;
  }
  .cart-button2 {
    display:inline-block;
    background-color: #f4a04600;
    color: #ca771e;
    border-radius: 45px;
    font-family: "Roboto";
    height: 2.5rem;
    width: auto;
    padding: 2% 10%;
    border: 2px solid #ca771e;
  }

  
  
/*cart box*/
.footer-cart {
    background-color: var(--primario);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .2em;
    text-align: center;
    font-weight: bold;
}