@import url("general.css");
/*formulario*/
.register-product{
    display:inline-block;
    flex-direction:row;
    align-items: center;
    
}

/* Estilos de la seccion informacion actual */
.informacion-actual{
    background-color: var(--light-border);
    color: var(--dark);
    margin-bottom: 20px;
    max-height: 300px;
}

.informacion-actual-imgs{
    display: flex;
    justify-content: center;
}

.informacion-actual-imgs img{
    width: 90%;
    transition: all 500ms;
}

.informacion-actual-imgs div{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.informacion-actual-imgs :hover{
    transform: scale(1.05);
}
.informacion-actual .titulo{
    font-weight: bold;
    margin-top: 15px;
}

.datos-actual{
    margin-top: 20px;
    text-align: justify;
}

/* Estilos de la seccion de nombre */
.nombre{
    margin-bottom: 20px;
}

.nombre input[type="text"]{
    width: 100%;
    height: 35px;
}

/* Estilos de la seccion de descripcion */
.descripcion{
    margin-bottom: 20px;
}

.descripcion textarea{
    width: 100%;
    border-radius: 5px;
    
}


/* Estilos de la seccion de categoria */
.categoria, .materials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.categoria input[type="radio"], .materials input[type="radio"] {
    margin-left: 30px;
}
.cat-opcion, .mat-opcion{
    margin: 10px 0;
}

/* Estilos de la seccion de tallas */
.tallas{
    display: flex;
    flex-wrap: wrap;
    height: 150px;
}
.tallas p{
    width: 100%;
}

.tallas label{
    margin-left: 10px;
}
.tallas-text{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.tallas-text input{
    width: 80px;
}
.quant{
    display: flex;
    align-items: center;

}
.quant input{
    margin-left: 10px;
}

/* Estilos de la seccion opciones-imagen */
.imagenes ul{
    list-style: none;
}
.imagenes ul li{
   margin: 20px 0;
   text-align: center;
}
.imagenes input[type=file]{
    width: 60%;
}
.imagenes label{
    margin-left: 10px;
}
.botones{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
.botones button{
    width: 25%;
    max-width: 250px;
    padding: 5px;
}
@media(min-width:768px){
    .opciones-imagen{
        width: 45%;
        margin: 0;
    }
    .imagen{
        width: 50%;
    }
    .iconos-img{
        width: 40%;
    }
}
@media(min-width:1025px){
    .register-product{
        display: flex;
        justify-content: space-between;
    }
    .register-product .informacion-actual{
        width: 35%;
    }
    .register-product form{
        width: 60%;
    }
}
