.main-footer {
    background-color: #1a1a1a;
    padding: 1em;
    color: white;
    text-align: center;
    margin-top: 5em;
}

.flex-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-footer .item-footer {
    margin-bottom: 2em;
    padding: 1em;
}

.main-footer .titulo-footer {
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.main-footer .enlace-redes-footer {
    color: white;
    font-size: .9rem;
}

.main-footer .item-footer .sobre-nosotros a {
    color: white;
    text-decoration: none;
}

.main-footer .item-footer .sobre-nosotros a:hover {
    color: tomato;
}

.main-footer .item-footer .redes-sociales a {
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

.main-footer .item-footer .redes-sociales a:hover {
    color: tomato;
}

.main-footer .item-footer .footer-visitanos {
    margin-top: .5em;
    margin-bottom: .5em;
}

.main-footer .item-footer .texto-visitanos {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
}

.main-footer .item-footer .footer-visitanos .fas {
    font-size: 1.5rem;
}

.copy-footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 992px) {
    .flex-cont {
        flex-direction: row;
        justify-content: space-between;
    }
}