/* FOOTER */

.footer h3{
    font-size: 23px;
    margin-bottom: 15px;
    color:brown;
}

.footer{
    background-color: rgb(255, 203, 203);
    display: flex;
    padding: 20px;
    justify-content: space-around;
    text-decoration: none;
    font-weight: normal;
    color: black;
    border-top: solid 5px brown;
    padding-bottom: 50px;
}

.items{
    margin: 5px 0px;
}

.nosotros,.visitanos,.redes,.contacto{
    display: block;
}

.instagram,.facebook,.twitter,.sobre,.telefono{
    display: flex;
}

.texto-instagram,.texto-facebook,.texto-twitter,.email,.numero-telefono{
    margin-left: 6px;
}

.cierre{
    background-color: rgb(255, 176, 176);
    text-align: center;
    padding: 15px 0px;
}

/* FOOTER */
