.btn-accion {
    border: none;
    background-color: transparent;
}

.btn-accion-icono {
    color: #212529;
    transition: all 300ms;
}

.btn-accion-icono:hover {
    color: tomato;
}

.mi-btn,
.mi-btn:visited {
    width: 300px;
    background-color: #1a1a1a;
    color: white;
    outline: none;
    border: none;
    transition: all 350ms;
    outline: none;
}

.mi-btn:hover {
    background-color: tomato;
}