
/*son los botones de crear nuevo producto y volver*/
.header-list {
    color: green;
    font-size: 1.2em;
}
body{
    margin-top: auto;
    padding-top: 30px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
