.listado-productos {
    padding: 1em;
}

.listado-productos .titulo {
    font-size: 2rem;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.listado-productos .elemento {
    text-align: center;
    margin-bottom: 4em;
}

.listado-productos .tabla {
    border: 2px solid black;
    text-align: center;
    margin: 25px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.listado-productos .columna {
    width: 10%;
    border: 1px solid black;
    text-align: center;
}

.listado-productos .columna-nombre {
    width: 30%;
    border: 1px solid black;
    text-align: center;
}