@import url("general.css");

.login{
    margin: 15px auto;
    max-width: 600px;
}
.login a{
    text-decoration: none;
}
.login-title{
    padding: 15px;
    text-align: center;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.login-form input{
    width: 100%;
    max-width: 350px;
    margin-bottom: 25px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid var(--light-border);
    outline: none;
}
.error{
    margin: 10px auto;
    font-size: 12px;
    color: red;
}
.login-form input:focus{
    border: 2px solid var(--light-border);
    box-shadow: 3px 3px 10px var(--light-border) ;
}
.login-form label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
    width: 70%;
    max-width: 350px;
}
.login-form .remember{
    display: flex;
    width: 100%;
    max-width: 350px;
}
.login-form .remember-input{
    width: 20px;
    height: 20px;
    margin-bottom: 0;
    margin-right: 10px;
}
.login-form button{
    width: 60%;
    max-width: 200px;
}
.login > p{
    text-align: center;
    padding-bottom: 30px;
}
.login > a{
    text-align: center;
    display: block;
    margin-bottom: 20px;
    color: var(--dark);
    font-weight: bold;
}
.login p a{
    color: var(--dark);
    font-weight: bold;
}
.alt-login{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.media-login{
    display: flex;
    justify-content: space-evenly;
}
.media-login i{
    width: 50px;
    height: 50px;
    margin: 20px 0;
    font-size: 25px;
    padding: 10px;
    background-color: var(--soft);
    border-radius: 10px;
}
.fa-facebook-f{
    color: var(--blue);
}
.fa-google{
    color: var(--red);
}

/*-------------------Media querie para tablet---------------------*/
@media(min-width: 768px) {
    .login{
        border: 1px solid var(--light-border);
        border-radius: 20px;
    }
}
@media(min-width: 1025px){
    main{
        background-image: url('../img/login-image.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0.5px;
    }
    .login{
        width: 40%;
        /* margin: 50px 0 50px 10px; */
        margin-left: 10px;
        background-color: var(--light);
    }
}
