.mi-btn,
.mi-btn:visited {
    width: 300px;
    background-color: #1a1a1a;
    color: white;
    border: none;
    outline: none;
    transition: all 350ms;
    padding: .5em;
    font-size: 1.2rem;
}

.mi-btn:hover {
    background-color: tomato;
}