.mi-btn,
.mi-btn:visited {
    width: 300px;
    background-color: var(--texto);
    color: white;
    border: none;
    transition: all 350ms;
    padding: .5em;
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.mi-btn:hover {
    background-color: var(--primario);
}

.btn-crud {
    border: none;
}

.btn-crud-editar-borrar {
    color: var(--texto);
    font-size: 1.3rem;
    transition: all 350ms;
}

.btn-crud-editar-borrar:hover {
    color: var(--primario);
}