.userprof {
    margin-top: 150px;
    
}

h3.userprofile {
    font-size: 44px;
}

.user-info {
    margin: 15px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cfc07b;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
}
.datos {
    font-size: 16px;
}

.user-info td {
    width: 40%;
    font-size: 30px;
    color: #131414;
}