@import url("general.css");

.register{
    margin-top: 30px;
    padding: 10px;
    background-color: var(--light);
    border-radius: 20px;
}
.register-title{
    padding: 30px 15px;
    text-align: center;
}
.register-title h1{
    font-size: 26px;
}
.register-errors {
    width: 70%;
    margin: 0 auto 20px auto;
    background-color: #ffaaaa;
    color: red;
    font-size: 12px;
    text-align: left;
    border-radius: 20px;
}
.register-errors p{
    padding: 5px;
    
}

.tec-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.tec-inputs > input {
    width: 70%;
    max-width: 400px;
    margin-bottom: 25px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid var(--light-border);
    outline: none;
}
.tec-inputs p.label{
    width: 70%;
    max-width: 400px;
    margin-bottom: 25px;
    font-size: 14px;
    text-align: justify;
}
.tec-inputs > div{
    width: 50%;
}
.checkitems .submit-input{
    width: 60%;
    margin: 20px auto;
}
.tec-inputs input:focus{
    border: 2px solid var(--light-border);
    box-shadow: 3px 3px 10px var(--light-border) ;
}
.tec-inputs .checkitems{
    width: 70%;
}
.check{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    max-width: 400px;
    margin: 10px auto;
}
.check input{
    /* width: 30px;
    height: 30px; */
    margin-right: 25px;
}
.register p{
    text-align: center;
}
main p a{
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
}
/*-------------------Media querie para tablet---------------------*/
@media(min-width: 768px){
    .register{
        width: 80%;
        margin: 20px auto;
        border: 1px solid var(--light-border);
        max-width: 800px;
    }
    .tec-inputs {
        flex-direction: column;
    }
    .tec-inputs input, .tec-inputs div{
        /* width: 35%; */
        max-width: 400px;
    }
}
/*-------------------Media querie para desktop---------------------*/
@media(min-width: 1025px){
    main{
        background-image: url('../img/login-image.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0.5px;
    }
    .register-form{
        display: flex;
        flex-direction: row;
    }
    .register-title{
        width: 100%;
    }
    .tec-inputs{
    width: 50%;
}
.checkitems{
    width: 50%;
    align-self: center;
}
}