#titulo_h{
    margin-bottom: 40px;
    text-decoration:underline;
}
#titulo_p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}
a{
    color:blue
}
.box{
    border: 2px solid var(--gold);
    border-radius: 15px;
    margin: 5px 5px 5px 5px;
}
.box{
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
    padding: 5px 2px 5px 2px;
}
.box p{
    padding: 10px;
    font-size: 20px;
}
.box i{
    font-size: 80px;
}

@media(min-width: 760px) {
    .cajas{
        display: flex;
    }
}
