@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('/css/header.css');
@import url('/css/main.css');
@import url('/css/login.css');
@import url('/css/footer.css');
@import url('/css/register.css');
@import url('/css/cart.css');
@import url('/css/list.css');
@import url('/css/detail.css');

/* ROOT */

:root {
    --primario: rgb(255, 99, 71);
    --texto: rgb(30, 30, 30);
    --fondo: rgb(245, 245, 245)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--fondo);
    color: var(--texto);
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}