@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('/css/header.css');
@import url('/css/main.css');
@import url('/css/login.css');
@import url('/css/register.css');

/* ROOT */

:root {
    --rojo: rgb(255, 82, 82);
    --texto: rgb(30, 30, 30);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--gama-1);
    color: var(--texto);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}