@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('/css/create.css');
@import url('/css/edit.css');
@import url('/css/footer.css');
@import url('/css/listado-productos.css');
@import url('/css/login.css');
@import url('/css/mi-btn.css');
@import url('/css/navegacion.css');
@import url('/css/register.css');

/* ROOT */

:root {
    --primario: rgb(255, 99, 71);
    --texto: rgb(30, 30, 30);
    --fondo: rgb(245, 245, 245)
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--fondo);
    color: var(--texto);
}