!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Botón de arrepentimiento</title>
    <link rel="stylesheet" href="/css/arrepentimiento.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <h1>Botón de arrepentimiento</h1>

<p>
    “De conformidad con lo dispuesto por la Resolución 424/2020 de la Secretaría de Comercio, dentro de las 24 horas de cursada tu solicitud de arrepentimiento, recibirás un mail confirmando la misma en dónde se indica tu código de identificación del trámite. La utilización de esta opción es aplicable para productos adquiridos en nuestro sitio, en los términos del Art. 34 de la Ley 24240.”

    Para iniciar un proceso de devolución, deberás enviarnos la información correspondiente a través del siguiente Formulario>
</p>
</main>
<%- include('./partials/footer') %>
</body>
</html>