<!DOCTYPE html>
<html lang="es">
    <%- include ('partials/head.ejs') %>
<body>
    <%- include ('partials/header.ejs') %>
    <main class="comprar">
        <div class="comocomprar">
            <h1> ¿Cómo hacer tu compra?</h1>
            <h2>SEXTO SOL</h2>
            <UL>
                <li> 1° Elegí las plantas que deseas y añadilas al carrito de compras.</li>
                <li> 2° Luego de verificar todas las plantas añadidas en el carrito de compras, hacé click en finalizar compra.</li>
                <li> 3° Seleccioná el medio de pago y carga tu dirección de envio.</li>
                <li> 4° Pagá y luego de procesar tu pago realizamos el envio o preparamos tu pedido para que retires de nuestra sucursal.</li>
    
                
            </UL>
        </div>

    </main>
    <%- include ('partials/footer.ejs') %>    
</body>
</html>