<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head.ejs")%>

<body>

    <%- include("./partials/header.ejs") %>

    <!-- BANNER TOP-->

    <section class= 'banner-top'>

        <img src="/img/banner-top.jpg" alt="Banner Top">

    </section>

    <!-- BANNER TOP-->

    <!-- main -->
    <main>
<style> 
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.grid-container > div {
  border: 1px solid pink;
  background-color: white;
}
</style>

<h1>Nuestros cursos</h1>
<p>Aquí encontrarás <em>información</em> sobre todos nuestros cursos anuales:</p>

<div class="grid-container">
  <div>1 Cultivos de invierno</div>
  <div>2 Cultivos de verano</div>
  <div>3</div>  
  <div>4</div>
  <div>5</div>
  <div>6</div>
  <div>7</div>  
  <div>8</div>  
</div>

<%- include("../partials/footer.ejs") %>

</body>

</html>