<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head.ejs")%>

    <body>
        <%- include("./partials/header.ejs") %>

            <div class="container-fluid">
                <h2>
                    Última visita
                </h2>
                <div class="row">
                    <article class="col-12 col-md-6 col-lg-4">
                        <img src="/images/products/img-aloe-vera.jpg" alt="producto" style="width: 100%;">
                        <h1>Aloe Vera</h1>
                        <p>$450</p>
                        <p>20% off</p>
                        <p><i class="fas fa-shopping-basket"></i><a href="/">Agregar al carrito</a></p>
                        <p><a href="/#">Envío a domicilio<i class='fas fa-truck'></i></a></p>
                    </article>
                    <article class="col-12 col-md-6 col-lg-4">
                        <img src="/images/products/img-aloe-vera.jpg" alt="producto" style="width: 100%;">
                        <h1>Aloe Vera</h1>
                        <p>$450</p>
                        <p>20% off</p>
                        <p><i class="fas fa-shopping-basket"></i><a href="/">Agregar al carrito</a></p>
                        <p><a href="/#">Envío a domicilio<i class='fas fa-truck'></i></a></p>
                    </article>
                    <article class="col-12 col-md-6 col-lg-4">
                        <img src="/images/products/img-aloe-vera.jpg" alt="producto" style="width: 100%;">
                        <h1>Aloe Vera</h1>
                        <p>$450</p>
                        <p>20% off</p>
                        <p><i class="fas fa-shopping-basket"></i><a href="/">Agregar al carrito</a></p>
                        <p><a href="/#">Envío a domicilio<i class='fas fa-truck'></i></a></p>
                    </article>
                </div>
            </div>

            <div class="container-fluid">
                <h2>
                    Ofertas
                </h2>
                <div class="row">
                    <article class="col-12 col-md-6 col-lg-4">
                        <img src="/images/products/img-aloe-vera.jpg" alt="producto" style="width: 100%;">
                        <h1>Aloe Vera</h1>
                        <p>$450</p>
                        <p>20% off</p>
                        <p><i class="fas fa-shopping-basket"></i><a href="/">Agregar al carrito</a></p>
                        <p><a href="/#">Envío a domicilio<i class='fas fa-truck'></i></a></p>
                    </article>
                    <article class="col-12 col-md-6 col-lg-4">
                        <img src="/images/products/img-aloe-vera.jpg" alt="producto" style="width: 100%;">
                        <h1>Aloe Vera</h1>
                        <p>$450</p>
                        <p>20% off</p>
                        <p><i class="fas fa-shopping-basket"></i><a href="/">Agregar al carrito</a></p>
                        <p><a href="/#">Envío a domicilio<i class='fas fa-truck'></i></a></p>
                    </article>
                    <article class="col-12 col-md-6 col-lg-4">
                        <img src="/images/products/img-aloe-vera.jpg" alt="producto" style="width: 100%;">
                        <h1>Aloe Vera</h1>
                        <p>$450</p>
                        <p>20% off</p>
                        <p><i class="fas fa-shopping-basket"></i><a href="/">Agregar al carrito</a></p>
                        <p><a href="/#">Envío a domicilio<i class='fas fa-truck'></i></a></p>
                    </article>
                </div>
            </div>

            <%- include("./partials/footer.ejs") %>

    </body>

</html>