<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head.ejs")%>

    <body>
        <%- include("./partials/header.ejs") %>

            <div class="container">
                <div class="row">

                    <div class="col-12 col-lg-3">
                        <article>

                            <h1>
                                Aloe Vera
                            </h1>

                            <p>$450</p>
                            <p>20% off</p>

                            <p>
                                <i class="fas fa-shopping-basket"></i>
                                <a href="/cart">Agregar al carro</a>
                            </p>

                            <img src='img/aloe-vera.jpg' alt='Aloe Vera'>

                            <p>
                                <a href="/#">Envío a domicilio<i class='fas fa-truck'></i></a>
                            </p>
                        </article>
                    </div>

                </div>
            </div>

            <%- include("./partials/footer.ejs") %>

    </body>

</html>