<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head.ejs")%>

<body>

    <%- include("./partials/header.ejs") %>

    <!-- main -->
    <main>
        <!-- plantas sin flor -->
        <section>
            <h2>Plantas sin flor</h2>
            <div class='products'>
                <article>
                    <img src='img/aloe-vera.jpg' width='360' alt='Aloe Vera'>
                    <div class='main-article'>
                        <i class='fas fa-truck'></i>
                        <div class='box-price'>
                            <p class='price'>$450</p>
                            <p class='discount'>20% off</p>
                        </div>
                        <h3 class='description'>Aloe Vera</h3>
                    </div>
                </article>
                <article>
                    <img src='/img/arbol-jade.jpg' width='360' alt='Arbol de Jade'>
                    <div class='main-article'>
                        <i class='fas fa-truck'></i>
                        <div class='box-price'>
                            <p class='price'>$750</p>
                            <p class='discount'>15% off</p>
                        </div>
                        <h3 class='description'>Arbol de Jade</h3>
                    </div>
                </article>
                <article>
                    <img src='/img/cola-de-tigre.jpg' width='360' alt='Cola de Tigre'>
                    <div class='main-article'>
                        <i class='fas fa-truck'></i>
                        <div class='box-price'>
                            <p class='price'>$700</p>
                            <p class='discount'>10% off</p>
                        </div>
                        <h3 class='description'>Cola de Tigre</h3>
                    </div>
                </article>
                <article>
                    <img src='/img/monstera-deliciosa.jpg' width='360' alt='Monstera Deliciosa'>
                    <div class='main-article'>
                        <i class='fas fa-truck'></i>
                        <div class='box-price'>
                            <p class='price'>$650</p>
                            <p class='discount'>5% off</p>
                        </div>
                        <h3 class='description'>Monstera Deliciosa</h3>
                    </div>
                </article>
            </div>
        </section>
        <!-- plantas sin flor -->


        <!-- plantas con flor -->
        <section>
            <h2>Plantas con flor</h2>
            <div class='products'>
                <article>
                    <img src='/img/begonia.jpg' width='360' alt='Begonia'>
                    <div class='main-article'>
                        <i class='fas fa-truck'></i>
                        <div class='box-price'>
                            <p class='price'>$300</p>
                            <p class='discount'>20% off</p>
                        </div>
                        <h3 class='description'>Begonia</h3>
                    </div>
                </article>
                <article>
                    <img src='/img/rosas-blancas.jpg' width='360' alt='Rosas Blancas'>
                    <div class='main-article'>
                        <i class='fas fa-truck'></i>
                        <div class='box-price'>
                            <p class='price'>$400</p>
                            <p class='discount'>15% off</p>
                        </div>
                        <h3 class='description'>Rosas Blancas</h3>
                    </div>
                </article>
                <article>
                    <img src='/img/rosas-rojas.jpg' width='360' alt='Rosas Rojas'>
                    <div class='main-article'>
                        <i class='fas fa-truck'></i>
                        <div class='box-price'>
                            <p class='price'>$450</p>
                            <p class='discount'>10% off</p>
                        </div>
                        <h3 class='description'>Rosas Rojas</h3>
                    </div>
                </article>
                <article>
                    <img src='/img/crisantemo-amarillo.jpg' width='360' alt='Crisantemo Amarillo'>
                    <div class='main-article'>
                        <i class='fas fa-truck'></i>
                        <div class='box-price'>
                            <p class='price'>$350</p>
                            <p class='discount'>5% off</p>
                        </div>
                        <h3 class='description'>Crisantemo Amarillo</h3>
                    </div>
                </article>
            </div>
        </section>
        <!-- plantas con flor -->
    </main>
    <!-- main -->
    <%- include("./partials/footer.ejs") %>
</body>

</html>