<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head') %> 
<body>
    <%- include('partials/header')  %> 
    <main class="cuerpo">
        
        <section class="visita">
            <h3>LISTADO DE PRODUCTOS<</h3>
        </section>
    
       
   </main>
   <%- include('partials/footer')  %> 
   
</body>
</html>