<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Página no encontrada</title>
    <link rel="stylesheet" href="/css/not-found.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <picture class="back-404"></picture>
        <section class="error-info">
            <h1>¡Lo sentimos!</h1>
            <h2>La página que estás buscando no existe</h2>
            <a href="/">Regresar a inicio</a>
        </section>
    </main>
</body>
</html>