<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head.ejs")%>

    <body>
        <%- include("./partials/header.ejs") %>
            <h1>
                Pagina no encontrada
            </h1>
    </body>

</html>