<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/servicio.css">
    <title>Servicio al cliente</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="title">
            <h1 id="titulo_h">Servicio al cliente</h1>
            <p id="titulo_p">¿En qué te podemos ayudar?</p>
        </div>
        <div class="cajas">
            <div class="box">
                <p>Mandanos un mensaje y te ayudremos lo más pronto posible</p>
                <a href="/service"><i class="fab fa-whatsapp"></i></a>
                <p>11-5560-1111</p>
            </div>
            <div class="box">
                <p>Envianos un mail y te responderemos a la brevedad </p>
                <a href="/service"><i class="fas fa-envelope"></i></a>
                <p>ayuda@sextosol.com</p>
            </div>
            <div class="box">
                <p>Llamanos y contanos en qué podemos ayudarte</p>
                <a href="/servicio"><i class="fas fa-headset"></i></a>
                <p>11-5560-1111</p>
            </div>
            <a href="/">Regresar a inicio</a>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>