<!-- FOOTER -->

<footer>

    <div class= 'footer'>
        <div class= 'nosotros'>
            <h3>Sobre nosotros</h3>
                <div class= 'items'>    
                    <a href="#">Nuestra historia</a>
                </div>
                <div class= 'items'>
                    <a href="#">Preguntas frecuentes</a>
                </div>   
        </div>

        <div class= 'visitanos'>
            <h3>Visitanos</h3>        
            <p class= 'items'>Calle Falsa 123</p>
            <p class= 'items'>Montegrande - CP: 1842</p>
            <p class= 'items'>Provincia de Buenos Aires</p>
        </div>

        <div class= 'redes'>
            <h3>Seguinos en nuestras redes</h3>
                <div class= 'items'>
                    <a href="#" class='instagram'>
                        <i class="fab fa-instagram"></i>
                        <p class='texto-instagram'>Instagram</p>
                    </a href>
                </div>

                <div class= 'items'>
                    <a href="#" class='facebook'>
                        <i class="fab fa-facebook-square"></i>
                        <p class='texto-facebook'>Facebook</p>
                    </a href>
                </div>
                
                <div class= 'items'>
                    <a href="#" class='twitter'>
                        <i class="fab fa-twitter"></i>
                        <p class='texto-twitter'>Twitter</p>
                    </a href>
                </div>
        </div>

        <div class= 'contacto'>
            <h3>Contactanos</h3>
                <div class= 'items'>
                    <div class= 'sobre'>
                        <i class="fas fa-envelope"></i>
                        <p class='email'>sextosol@gmail.com</p>
                    </div>
                </div>
                <div class= 'items'>
                    <div class= 'telefono'>
                        <i class="fas fa-phone-alt"></i>
                        <p class='numero-telefono'>011-1234-5678</p>
                    </div>
                </div>
        </div>
    </div>
       
    <div class= 'cierre'>
        <p>© 2021 - Sexto sol - Todos los derechos reservados</p>
    </div>

</footer>

<!-- FOOTER -->