<footer class="main-footer">

    <div class="flex-cont">

        <!-- Elemento 1 -->
        <div class="item-footer">

            <h3 class="titulo-footer">
                Sobre nosotros
            </h3>  
          
           
            <div class="sobre-nosotros">
                <a class="enlace"  href="/sobrenosotros">Nuestra historia</a>
                <a class="enlace"  href="/Preguntas_frecuentes">Preguntas frecuentes</a>
                <ul>
                    <li><a href="contacto">contactate con nosotros</a></li>
                    <li><a href="products/cart">Costos de envios</a></li>
                    <li><a href="#">Boton de arrepentimiento</a></li>
                </ul>
            </div>
        </div>
    
                
        <!-- Elemento 2 -->
        <div class="item-footer">

            <h3 class="titulo-footer">
                Visítanos
            </h3>

            <div class="footer-visitanos">
                <i class="fas fa-map-marker-alt">
                    <span class="texto-visitanos">
                        &nbsp;Calle 10, CP 1234 BA
                    </span>
                </i>
            </div>

            <div class="footer-visitanos">
                <i class="fas fa-envelope">
                    <span class="texto-visitanos">
                        &nbsp;sextosol@gmail.com
                    </span>
                </i>
            </div>

            <div class="footer-visitanos">
                <i class="fas fa-phone-alt">
                    <span class="texto-visitanos">
                        &nbsp;11-5560-1111
                    </span>
                </i>
            </div>

        </div>

        <!-- Elemento 3 -->
        <div class="item-footer">

            <h3 class="titulo-footer">
                Redes sociales
            </h3>

            <div class="redes-sociales">

                <a href=https://www.instagram.com/viverosextosol/ class="enlace-redes" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a href>
                    
                <a href="https://www.facebook.com/" class="enlace-redes" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a href>

                <a href="https://www.twitter.com/" class="enlace-redes" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a href>

                <a href="https://www.youtube.com/" class="enlace-redes" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a href>

                <a href="https://www.whatsapp.com/?lang=es" class="enlace-redes" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a href>

            </div>

        </div>

    </div>

    <!-- Elemento 4 -->
    <p class="copy-footer">
        &copy; 2021 Sexto sol
    </p>

</footer>