
    <!-- HEADER -->
    <header class="cabecera">

        <!-- navegacion -->
        <nav class="navegacion">

            <!-- lista -->
            <ul class="lista">

                <!-- logo -->
                <li class="logo">
                    <a href="/">
                        <span>
                            &nbsp;<img src='/img/Logotipo.svg' width='30' alt='Logotipo'>                    
                        </span>
                    </a>
                </li>
                <!-- logo -->

                <li class="item">
                    <a href="/products/list">
                        <span>
                            &nbsp;Tienda
                        </span>
                    </a>
                </li>

                <li class="item">
                    <a href="#">
                        <span>
                            &nbsp;Herramientas
                        </span>
                    </a>
                </li>

                <li class="item">
                    <a href="#">
                        <span>
                            &nbsp;Cursos
                        </span>
                    </a>
                </li>

                <!-- acceder -->
                <li class="item icon-menu">
                    <a href="/users/login">
                        <i class="fas fa-user"></i>
                        <span class="palabra">
                            &nbsp;Acceder
                        </span>
                    </a>
                </li>
                <!-- acceder -->

                <!-- acceder -->
                <li class="item icon-menu">
                    <a href="/products/cart">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="palabra">
                            &nbsp;&nbsp;Compras
                        </span>
                    </a>
                </li>
                <!-- acceder -->

                <!-- Hamburguesa -->
                <li class="hamburguesa">
                    <i class="icon fas fa-bars"></i>
                </li>
                <!-- Hamburguesa -->

            </ul>
            <!-- contendor flexible -->
        </nav>
        <!-- navegacion -->

    </header>
    <!-- HEADER -->