<div class="collapse navbar-collapse" id="myOwnNav">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Compras</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Crud</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Servicio al cliente</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Volver</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropNavBar" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Productos
            </a>
            <div class="dropdown-menu" aria-labelledby="dropNavBar">
                <a class="dropdown-item" href="#">Categoría sinflor</a>
                <a class="dropdown-item" href="#">Categoría conflor</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto align-items-center">
        <% if (isLogged) { %>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropUser" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="/images/avatars/<%= userLogged.avatar %>" width="40" style="border-radius: 100%;">
                Hi <%= userLogged.full_name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropUser" style="left: auto; right: 0;">
                <a class="dropdown-item" href="/users/profile">My profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/users/logoff">Logoff</a>
            </div>
        </li>
        <% } else { %>
        <li class="nav-item"><a class="nav-link" href="/users/register">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="/users/login">Login</a></li>
        <% } %>
    </ul>
</div>
</nav>