<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head.ejs")%>

<body>

    <%- include("../partials/header.ejs") %>

    <!-- FORMULARIO -->
    <form class="formulario-de-login" method="POST" action="/register" autocomplete="off">

        <h1 class="titulo">
            Iniciar sesión
        </h1>

        <!-- contenedor -->
        <form class="contenedor">

            <!-- input-contenedor -->
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="email"  name="Correo electrónico" placeholder="Correo electrónico" />
            </div>
                <div>
                    <p class="campo-obligatorio">* Campo obligatorio</p>
                </div>
                
           
            <!-- input-contenedor -->

            <!-- input-contenedor -->
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" name="Contraseña" placeholder="Contraseña" />
                <p class="campo-obligatorio"></p>
            </div>
        <div>
            <p class="campo-obligatorio">* Colocar 6 caracteres, con al menos 1 número y 1 mayúscula</p>
        </div>
            <div class="input-contenedor">
                <i class="fas fa-redo-alt"></i>
                <input type="password-repeat" name="Repetí tu contraseña" placeholder="Repetí tu contraseña"/>
            </div>
                
            <!-- input-contenedor -->
            <p class="otros-accesos">
                <a href='./users/guardados'>Olvidé mi contraseña</a>  
           <!-- recuperar contraseña -->
        </p>
            <input class="boton" type="submit" value="Enviar">

            <!-- pregunta-link -->
            <div>
                <p class="crear-cuenta">
                    ¿Tenés cuenta?
                    <a class="enlace" href="/users/register">
                        Crear una
                    </a>
                    <section class="alt-login">
                        <p>Tambien puedes iniciar sesión con:</p>
                        <div class="media-login">
                            <a href="/login"><i class="fab fa-facebook-f"></i></a>
                            <a href="/login"><i class="fab fa-google"></i></a>
                        </div>
                    </section>
                    <input type="checkbox" name="remember" id="remember">
                    <label for="remember">Recordarme</label>  
                </p>
            </div>
        </form>

            <!-- recordame-->
            
        <!-- contenedor -->
        <%- include("../partials/footer.ejs")%>

</body>

</html>