<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head.ejs")%>

<body>

    <%- include("../partials/header.ejs") %>

    <!-- FORMULARIO -->
    <form class="formulario-de-login" method="POST" action="/register" autocomplete="off">

        <h1 class="titulo">
            Iniciar sesión
        </h1>

        <!-- contenedor -->
        <div class="contenedor">

            <!-- input-contenedor -->
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="email" placeholder="Correo electrónico" />
            </div>
            <!-- input-contenedor -->

            <!-- input-contenedor -->
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" placeholder="Contraseña" />
            </div>
            <!-- input-contenedor -->

            <input class="boton" type="submit" value="Enviar">

            <!-- pregunta-link -->
            <div>
                <p class="crear-cuenta">
                    ¿Tenés cuenta?
                    <a class="enlace" href="/users/register">
                        Crear una
                    </a>
                </p>
            </div>
            <!-- recordame-->
            <div>
                <input type="checkbox" name="remember" id="remember">
                <label for="remember">Recordame</label>
            </div>
        </div>
        <!-- contenedor -->

    </form>
    <!-- FORMULARIO -->

    <%- include("../partials/footer.ejs") %>

</body>

</html>