<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Mi perfil</title>
</head>
<body>
    <%- include('../partials/header') %>
    <h1>Mi perfil</h1>
    <%- include('../partials/footer') %>
</body>
</html>