<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head.ejs")%>

<body>

    <%- include("../partials/header.ejs") %>

    <!-- FORMULARIO -->
    <form class="formulario-de-registro" method="POST" action="/register" autocomplete="off">

        <h1 class="titulo">
            Crea una cuenta
        </h1>

        <!-- contenedor -->
        <div class="contenedor">

            <!-- input-contenedor -->
            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="text" placeholder="Nombre y apellido" name= "name"/>
            </div>
            <!-- input-contenedor -->

            <!-- input-contenedor -->
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="email" placeholder="Correo electrónico" name ="email"/>
            </div>
            <!-- input-contenedor -->

            <!-- input-contenedor -->
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" placeholder="Contraseña" name= "password"/>
            </div>
            <!-- input-contenedor -->

            <!-- input-contenedor -->
            <div class="input-contenedor-check">
                <p class="crear-cuenta">
                    <input type="checkbox" />&nbsp;Aceptar términos y condiciones
                </p>
            </div>
            <!-- input-contenedor -->

            <input class="boton" type="submit" value="Enviar">

        </div>
        <!-- contenedor -->

    </form>
    <!-- FORMULARIO -->

    <%- include("../partials/footer.ejs") %>

</body>

</html>