<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head.ejs")%>

<body>

    <%- include("../partials/header.ejs") %>

    <!-- FORMULARIO -->
    <form class="formulario-de-registro" method="POST" action="/users/register" autocomplete="off">

        <h1 class="titulo">
            Crea una cuenta
        </h1>

        <!-- contenedor -->
        <div class="contenedor">

            <!-- input-contenedor -->
            <section>
                <div class="input-contenedor">
                    <input type="select" name="seleccionar" placeholder= "Como nos conociste/seleccionar"/>
                    <select name="conociste" size="1">
                        <option>Instagram</option>
                        <option>Amigos</option> 
                        <option>Otros</option>
                        </select>   
                </div>
            </section>
            
            <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="text" name="Nombre y apellido" placeholder= "Nombre y apellido"/>
            <p class="campo-obligatorio">* Campo obligatorio</p>
        </div>
            <!-- input-contenedor -->

            <!-- input-contenedor -->
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="email" name="Correo electrónico" placeholder ="email"/>
                <p class="campo-obligatorio">* Campo obligatorio</p>
            </div>
            <!-- input-contenedor -->

            <!-- input-contenedor -->
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" name="Contraseña" placeholder= "password"/>
                <p class="campo-obligatorio">* Colocar 6 caracteres, con al menos 1 número y 1 mayúscula</p>
            </div>
            <!-- input-contenedor -->
        </div>
            <!-- input-contenedor -->
            <div class="input-contenedor-imagen">
                <form action="/register" method="POST" enctype="multipart/form-data"></form>
                <p class="avatar">
                    <i class="fas fa-images"></i>
                    <input type="file" /><p>Cargar imagen</p>
                    <div class="agregar-imagen">
                            

                    <p class="aceptacion">
                    <input type="checkbox" /><p>Aceptar términos y condiciones</p>
                </p>
            </div>
            <!-- input-contenedor -->
            <input class="boton" type="submit" value="Enviar">

        </div>
        <!-- contenedor -->

    </form>
    <!-- FORMULARIO -->

    <%- include("../partials/footer.ejs") %>

</body>

</html>